@model AlStudente.Models.TeacherNoteViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeacherNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="TeacherNote.Title" class="control-label"></label>
                <input asp-for="TeacherNote.Title" class="form-control" />
                <span asp-validation-for="TeacherNote.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherNote.Content" class="control-label"></label>
                <input asp-for="TeacherNote.Content" class="form-control" />
                <span asp-validation-for="TeacherNote.Content" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StudentDetails" asp-controller="Home" asp-route-id="@Model.Student.UserId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
