@model AlStudente.Models.ViewModels.TeacherEditViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit Your Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTeacher">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserProfile.Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.FirstName" class="control-label">First Name</label>
                <input asp-for="UserProfile.FirstName" class="form-control" />
                <span asp-validation-for="UserProfile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.LastName" class="control-label">Last Name</label>
                <input asp-for="UserProfile.LastName" class="form-control" />
                <span asp-validation-for="UserProfile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.DisplayName" class="control-label">Display Name</label>
                <input asp-for="UserProfile.DisplayName" class="form-control" />
                <span asp-validation-for="UserProfile.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.InstrumentId" class="control-label">Instrument</label>
                <select asp-for="UserProfile.InstrumentId" class="form-control">
                    <option value="">Select Instrument</option>
                    @foreach (Instrument instrument in Model.Instruments)
                    {
                        <option value="@instrument.Id">@instrument.Name</option>
                    }
                </select>
                <span asp-validation-for="UserProfile.InstrumentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.Bio" class="control-label"></label>
                <input asp-for="UserProfile.Bio" class="form-control" />
                <span asp-validation-for="UserProfile.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfile.ImageLocation" class="control-label">Image URL</label>
                <input asp-for="UserProfile.ImageLocation" class="form-control" />
                <span asp-validation-for="UserProfile.ImageLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.AcceptingStudents" class="control-label">Accepting Students</label>
                <input type="checkbox" asp-for="Teacher.AcceptingStudents" class="form-control" />
                <span asp-validation-for="Teacher.AcceptingStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.LessonRate" class="control-label">Lesson Rate</label>
                <input type="number" asp-for="Teacher.LessonRate" class="form-control" />
                <span asp-validation-for="Teacher.LessonRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="EditTeacher" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById("Email").focus();
    </script>
}
